      <hr>

      <footer>
        <p>&copy; 重庆第四街区信息技术有限公司 2014</p>
      </footer>
    </div>
    <script type="text/javascript" src="/static/js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/sockjs-0.3.min.js"></script>
    <script type="text/javascript">
      var shop = <%- JSON.stringify(req.session.user.shop)%>;
    </script>
    <script type="text/javascript" src="/static/js/message.js"></script>