<!DOCTYPE HTML>
<html>
  <head>
    <title>乐兔美食</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <link type="text/css" rel="stylesheet" href="/static/css/base.css">
    <script type="text/javascript" src="/static/js/zepto.min.js"></script>
  </head>
<body>
  <header id="header" class="clearfix">
    <div class="dropdown">
      <a href="javascript:void(0);" class="home" id="menu">
        <i class="icon-home"></i>
      </a>
        <% include nav.html %>
    </div>
    <div class="title">
      联系我们
    </div>
  </header>
  <section id="content">
    <div class="orders" id="orders">
      <div class="order">
        <fieldset class="order-set">
            <legend>联系我们</legend>
            <div class="order-item">
                <span class="item-title">商务合作：</span>18996231352
            </div>
            <div class="order-item">
                <span class="item-title">QQ：</span>1989826991
            </div>
            <div class="order-item">
                <span class="item-title">Email：</span>fourblock@qq.com
            </div>
        </fieldset>
    </div>
    </div>
  </section>
  <script type="text/javascript">
    ////////////弹出菜单//////////////////////
    $('#menu').click(function(e) {
        $(this).parent('.dropdown').toggleClass('open');
        e.stopPropagation();
    });
    $(document).click(function(e) {
        $('.dropdown').removeClass('open');
    });
  </script>
</body>
</html>