<!DOCTYPE HTML>
<html>
  <head>
    <title>乐兔美食</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <link rel="icon" href="/static/image/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/static/image/favicon.ico" type="image/x-icon" />
    <link type="text/css" rel="stylesheet" href="/static/css/base.css">
    <script type="text/javascript" src="/static/js/zepto.min.js"></script>
  </head>
<body>

  <header id="header" class="clearfix">
    <div class="dropdown">
      <a href="javascript:void(0);" class="home" id="menu">
        <i class="icon-home"></i>
      </a>
      <% include nav.html %>
      </ul>
    </div>
    <div class="title">
      商家列表
    </div>
  </header>

  <section id="content">
    <div class="items" id="items">
      
    </div>
    <div class="finish">
      加载中...
    </div>
  </section>

  <div class="pay-notic">
    你有<span class="pay-number">0</span>件商品等待结算 
    <button class="normal-btn" id="clearSitems">清空</button> 
    <button class="btn" id="goPay">去结算</button> 
  </div>
  <script type="text/javascript" src="/static/js/shop.js"></script>
</body>
</html>